@font-face {
  font-family: "Vazir";
  src: url(./fonts/Vazir-Medium.ttf);
}
@font-face {
  font-family: "Great Vibes";
  src: url(./fonts/GreatVibes-Regular.ttf);
}

:root {
  color: #242424;
  font-family: "Vazir";
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}